
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: url("./images/background.png");
    background-size: cover;
    background-position: bottom;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: lightgray;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger:hover {
    font-size: 30px;
}

.pending-queries-container {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pending-queries-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.query-list {
    list-style: none;
    padding: 0;
}

.query-item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    border-left: 5px solid #f44336; /* Red color for pending */
}

.query-item strong {
    color: #f44336;
}

footer {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}